@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:500,700");
h4,
h5 {
  font-family: "Avenir Next LT Pro", "EB Garamond", serif, Futura-Medium, sans-serif;
  color: #333; }

h1,
h2,
h3,
a {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #333; }

:focus {
  outline-color: #002FA7; }

a:hover {
  color: #002FA7; }

p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 0.26px;
  line-height: 28px; }

body,
html {
  height: 100%;
  font-size: 15px;
  background-color: white; }

section .container {
  padding-top: 7vh;
  padding-bottom: 22vh; }

.btn {
  border-color: #002FA7;
  color: #002FA7;
  border-radius: 0; }
  .btn:hover {
    background-color: #002FA7;
    color: white; }

#border-left,
#border-top,
#border-right,
#border-bottom {
  position: fixed;
  background-color: #002FA7;
  z-index: 9999; }

#border-left {
  width: 10px;
  height: 100%;
  top: 0;
  left: 0; }

#border-right {
  width: 10px;
  height: 100%;
  top: 0;
  right: 0; }

#border-top {
  width: 100%;
  height: 10px;
  top: 0;
  left: 0; }

#border-bottom {
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0; }

div#topNavigation nav {
  background-color: white; }
div#topNavigation .container {
  padding-top: 20px; }
  div#topNavigation .container .navbar-brand {
    letter-spacing: 0.07em;
    font-weight: 700;
    font-family: 'Avenir Next LT Pro'; }
    div#topNavigation .container .navbar-brand .slider {
      position: relative;
      display: block;
      height: 5px;
      background-color: #F5E3C9;
      width: 0%;
      transition: width 0.7s ease; }
    div#topNavigation .container .navbar-brand:hover .slider {
      width: 100%; }
  div#topNavigation .container .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
    border: none;
    padding: 0.5rem 0rem; }
    div#topNavigation .container .dropdown:hover .dropdown-menu .dropdown-item:active {
      background-color: #f4f4f4; }
div#topNavigation button .navbar-toggler-icon {
  color: #002FA7; }
div#topNavigation li {
  margin: 15px; }
div#topNavigation li:hover {
  margin-bottom: -2px; }
div#topNavigation li a.nav-link {
  color: #333;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px; }
div#topNavigation a.nav-link:hover {
  color: #002FA7;
  border-bottom: 5px solid #F5E3C9; }

section#home .container {
  padding-top: 15%;
  max-width: 60%; }
section#home h1 {
  font-family: 'Avenir Next LT Pro', serif, Futura-Medium, sans-serif;
  font-size: 2rem;
  max-width: 703px;
  margin: 0 auto;
  line-height: 3rem;
  font-weight: 500;
  border-bottom: 5px solid #F5E3C9;
  display: -webkit-inline-box; }
section#home h2 {
  font-size: 1.3rem;
  max-width: 703px;
  margin: 0 auto;
  line-height: 2.0rem;
  padding-top: 1rem;
  display: table-cell; }
section#home a#arrowContainer {
  position: relative;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s; }
  section#home a#arrowContainer:hover {
    opacity: .5; }
  section#home a#arrowContainer span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #002FA7;
    border-bottom: 1px solid #002FA7;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box; }
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }
section#work .workCard {
  margin-bottom: 1rem; }
  section#work .workCard .overlayContainer {
    position: relative; }
    section#work .workCard .overlayContainer img {
      width: 100%;
      height: auto;
      display: block; }
    section#work .workCard .overlayContainer a.divLink {
      width: 100%; }
    section#work .workCard .overlayContainer .overlay {
      text-align: center;
      opacity: 0;
      background-color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      transition: .5s ease; }
      section#work .workCard .overlayContainer .overlay a span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: url("empty.gif"); }
      section#work .workCard .overlayContainer .overlay .overlayTexts {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 98%; }
      section#work .workCard .overlayContainer .overlay h4 {
        font-size: 2rem; }
      section#work .workCard .overlayContainer .overlay hr {
        height: 3px;
        border-color: #F5E3C9;
        width: 25%;
        background-color: #F5E3C9; }
      section#work .workCard .overlayContainer .overlay p {
        max-width: 75%;
        margin: 0 auto; }
  section#work .workCard:hover {
    cursor: pointer; }
    section#work .workCard:hover .overlay {
      opacity: 1; }
  section#work .workCard h5 {
    padding: .5rem;
    padding-bottom: 0; }
  section#work .workCard .d-flex .p-2 {
    padding-top: 0 !important;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 14px;
    color: #878787; }
  section#work .workCard h5 a:hover {
    text-decoration: none; }

section#contact {
  text-align: center; }
  section#contact .tooltip.bottom > .tooltip-arrow {
    border-bottom: 3px solid #002FA7; }
  section#contact a {
    margin: 5px; }
    section#contact a:hover {
      color: #002FA7;
      border-bottom: 5px solid #F5E3C9;
      text-decoration: none; }

.footer {
  width: 100%;
  margin-bottom: 20px; }

/*# sourceMappingURL=base.css.map */
