// Global Styles variables
// ≈ design specification for the website
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:500,700');
// @font-face {
//     font-family: 'tex_gyre_adventorbold';
//     src: url('../assets/fonts/texgyreadventor-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
$fontStack1: 'Avenir Next LT Pro', 'EB Garamond', serif, Futura-Medium, sans-serif;
$fontStack2: 'Roboto', Helvetica, sans-serif;
$highlightColor: #002FA7;  // ives-klein blue
$complementColor: #F5E3C9; // champagne
$backgroundColor: white;
$mainColor1: #333;
$lightGrey: #878787;
$lighterGrey: #f4f4f4;

$blockMargin: 10px;
$sectionMargin: 40px;

// Mixins
// I know the order should be u-r-d-l
// but I prefer this way :P
@mixin margin($mup, $mdown, $mleft, $right) {
  margin-left: $mleft;
  margin-right: $mright;
  margin-up: $mup;
  margin-down: $mdown;
}

@mixin underbelow {
  -webkit-text-underline-position: below;
  -ms-text-underline-position: below;
  text-underline-position: below; 
}

h4,
h5 {
  font-family: $fontStack1;
  color: $mainColor1;
  
}
h1,
h2,
h3,
a {
  font-family: $fontStack2;
  color: $mainColor1;
}
:focus {
  outline-color: $highlightColor;
}

a:hover {
  color: $highlightColor;
}
p {
  font-family: $fontStack2;
  font-size: 17px;
  letter-spacing: 0.26px;
  line-height: 28px;
}

body,
html {
  height: 100%;
  font-size: 15px;
  background-color: $backgroundColor;
}

section {
  // height: 100%;
  .container {
    // padding-top: 12rem;
    padding-top: 7vh;
    padding-bottom: 22vh;
  }
}

.btn {
  border-color: $highlightColor;
  color: $highlightColor;
  border-radius: 0;
  &:hover {
    background-color: $highlightColor;
    color: white;
  }
}
#border-left,
#border-top,
#border-right,
#border-bottom {
  position: fixed;
  background-color: $highlightColor;
  z-index: 9999;
}
#border-left {
  width: $blockMargin;
  height: 100%;
  top: 0;
  left: 0;
}
#border-right {
  width: $blockMargin;
  height: 100%;
  top: 0;
  right: 0;
}
#border-top {
  width: 100%;
  height: $blockMargin;
  top: 0;
  left: 0;
}
#border-bottom {
  width: 100%;
  height: $blockMargin;
  bottom: 0;
  left: 0;
}

div#topNavigation {
  nav {
    background-color: $backgroundColor;
  }
  .container {
    padding-top: 20px;
    
    .navbar-brand {
      letter-spacing: 0.07em;
      font-weight: 700; 
      font-family: 'Avenir Next LT Pro';
      
      .slider {
        position: relative;
        display:block;
        height: 5px;
        background-color: $complementColor;
        width: 0%;
        transition: width 0.7s ease;
      }
      &:hover .slider {
        width: 100%;
      }
    }

  }
  button .navbar-toggler-icon {
    color: $highlightColor;
  }
  li {
    margin: 15px;
  }
  li:hover {
    margin-bottom:-2px;
  }
  li a.nav-link {
    // font-weight: regular;
    color: $mainColor1;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px; 

  }
  a.nav-link:hover {
    color: $highlightColor;
    border-bottom: 5px solid $complementColor;
  }
}
section#home {
  .container {
    padding-top: 15%;
    max-width: 60%;
    
  }
  h1 {
    font-family: 'Avenir Next LT Pro', serif, Futura-Medium, sans-serif;
    font-size: 2rem;
    max-width: 703px;
    margin: 0 auto;
    line-height: 3rem;
    font-weight: 500;
    border-bottom: 5px solid #F5E3C9;
    display: -webkit-inline-box;
  }
  h2 {
    font-size: 1.3rem;
    max-width: 703px;
    margin: 0 auto;
    line-height: 2.0rem;
    padding-top: 1rem;
    display: table-cell;
  }
  a#arrowContainer {
    position: relative;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    &:hover {
      opacity: .5;
    }
    span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid $highlightColor;
      border-bottom: 1px solid $highlightColor;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb05 1.5s infinite;
      animation: sdb05 1.5s infinite;
      box-sizing: border-box;
    }
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
}
section#work {
  .workCard {
    // background-color:white;
    // padding: 1rem;
    // height: 18rem;
    margin-bottom: 1rem;
    .overlayContainer {
      position: relative;
      img {
        width:100%;
        height: auto;
        display: block;
      }
      a.divLink {
        width: 100%;
      }
      .overlay {
        text-align: center;
        opacity: 0;
        background-color: white;
        // border: 1px solid $highlightColor;
        // background-color: transparentize(white, 0.1);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: .5s ease;
        a span {
          position:absolute;
          width:100%;
          height:100%;
          top:0;
          left: 0;
          z-index: 1;
          background-image: url('empty.gif');
        }
        .overlayTexts {
          position: absolute;
          top: 50%; left: 50%; transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          width: 98%;
        }
        h4 {
          font-size: 2rem;
        }
        hr {
          height: 3px;
          border-color: $complementColor;
          width: 25%;
          background-color: $complementColor;
        }
        p {
          // height: 3rem;
          max-width: 75%;
          margin: 0 auto;
        }
      }
    }
    &:hover {
      cursor:pointer;
      .overlay {
        opacity: 1;
      }
    }
    h5 {
      padding: .5rem;
      padding-bottom: 0;
    }
    .d-flex .p-2 {
      padding-top: 0 !important;
      font-family: $fontStack2;
      font-size: 14px;
      color: $lightGrey;
    }
    h5 a:hover {
      text-decoration: none;
    }
  }
}
section#contact {
  // height: 90%;
  text-align: center;
  .tooltip.bottom > .tooltip-arrow {
      border-bottom: 3px solid $highlightColor;
  }
  a {
    margin: 5px;

    &:hover {
      color: $highlightColor;
      border-bottom: 5px solid $complementColor;
      text-decoration: none;
    }
  }
}
.footer {
  width: 100%;
  // height: 3rem;
  margin-bottom: 20px;
}
