// Global Styles variables
// ≈ design specification for the website
@font-face {
    font-family: 'tex_gyre_adventorbold';
    src: url('../assets/fonts/texgyreadventor-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tex_gyre_adventorregular';
    src: url('../assets/fonts/texgyreadventor-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$fontStack: 'tex_gyre_adventorbold', "ITC AvantGarde Gothic", Futura-Medium, sans-serif;
$highlightColor: #2d0ee6;  // indigo-blue
$complementColor: #FFE010;
$backgroundColor: #ebebeb;
$mainColor1: #333;

$blockMargin: 15px;
$sectionMargin: 40px;

// Mixins
// I know the order should be u-r-d-l
// but I prefer this way :P
@mixin margin($mup, $mdown, $mleft, $right) {
  margin-left: $mleft;
  margin-right: $mright;
  margin-up: $mup;
  margin-down: $mdown;
}


h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: $fontStack;
  color: $mainColor1;
}

body,
html {
  height: 100%;
  font-size: 15px;
}

section {
  height: 100%;
}
#border-left,
#border-top,
#border-right,
#border-bottom {
  position: fixed;
  background-color: $highlightColor;
  z-index: 998;
}
#border-left {
  width: $blockMargin;
  height: 100%;
  top: 0;
  left: 0;
}
#border-right {
  width: $blockMargin;
  height: 100%;
  top: 0;
  right: 0;
}
#border-top {
  width: 100%;
  height: $blockMargin;
  top: 0;
  left: 0;
}
#border-bottom {
  width: 100%;
  height: $blockMargin;
  bottom: 0;
  left: 0;
}

div#topNavigation {
  .container {
    padding-top: 20px;
  }
  li a.nav-link {
    font-weight: bold;
    color: $mainColor1;
  }
  li.active a.nav-link,
  a.nav-link:hover {
    color: $highlightColor;

  }
}
section#header {
  width: 100%;
  height: 100%;
  background-color: white;
}
section#work {
  .card {
    hr {
      height: 5px;
      color: $highlightColor;
      width: 25%;
    }
  }
}
.footer {
  width: 100%;
  // height: 3rem;
}
