@import "base.scss";
.workContent {
  .container {
    padding-top: 13rem;
    h2 {
        font-size: 1.5rem;
    }
    h3 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    // single image in a line
    img {
      width: 50%;
    }
    img:hover {
      cursor: zoom-in;
    }
    // images in one line
    .row .figure, .row img {
      width: 100%;
    }
    .imgRow {
      text-align: center;
    }
    .fullwidth-photo {
      width: 100%;
    }
    .figure-caption {
      text-align: center;
    }
    .footer {
      i {
        font-size: 1.5rem;
      }
    }

  }
}


#styleup {
  .row img {
    text-align: center;
    width: 100%;
  }
  .carousel {
    width:100%;
    height:80vh;
    overflow:scroll;
    background-color: black;
  }
  .carousel-inner img {
    // height:100vh;
    // width:auto;
  }
  .carousel-control-next,
  .carousel-control-prev {
    background-color: grey;
    // height:50px;
  }
}

#ronglc {
  $color1: rgba(83, 180, 249, 1);
  $color2: rgba(59, 131, 204, 1);
  $color3: rgba(245, 139, 1, 1);
  $color4: rgba(247, 177, 31, 1);
  $color5: rgba(255, 255, 255, 1);
}
