@import "base.scss";


div#topNavigation  {
  .page-progress {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: $lighterGrey;
  }
  #progressBar {
    height: 2px;
    background: $highlightColor;
    width: 0%;
  }
  nav {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  }
  
}

.workContent {
  .coverphoto {
    height: 600px;
    padding-top: 500px;
    background-position: 0px 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .container {
    padding-top: 3rem;
    max-width: 740px;

    .bookmark {
      position: fixed;
      left: 0px;
      top: 200px;
    }
    
    ul.shortInfo {
      max-width: 100%;
      background-color: $lighterGrey;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 20%;
      padding-right: 20%;

      li {
        list-style-type: none;
        line-height: 30px;
      }
    }
// h1: article title, avenir, bold, large,
// h2: section title, avenir, light grey
// h3: notes above article title, or above section title, roboto, light grey/champagne
    h1 {
      font-family: $fontStack1;
      font-weight: 600;
      margin-bottom: 3rem;
    }
    h2 {
      font-family: $fontStack1;
      margin-top: 3rem;
      margin-bottom: 3rem;
      font-size: 1.5rem;

      
    }
    h3 {
      font-family: $fontStack1;
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    h4 {
        font-size: 1rem;
        color: $lightGrey;
    }
    p {
      line-height: 1.8rem;
    }
    a {
      color: $highlightColor;
      &:hover {
        color: $highlightColor;
        border-bottom: 5px solid $complementColor;
        text-decoration: none;
      }
    }
    a.button {
      color: $highlightColor;
      border: none;
      &:hover {
        border-bottom: 5px solid $complementColor;
        color: $highlightColor;
        // border-bottom: none;
      }
    }
    // single image in a line
    img {
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    // those that will activate a modal
    img.fullscreenImg:hover {
      cursor: zoom-in;
      opacity: .8;
    }
    // images that already side by side
    // with other images need 100% respect/space
    .row .figure, .row img {
      width: 100%;
    }
    .imgRow {
      text-align: center;
    }
    // those that worth a complete line
    .fullwidth-photo {
      width: 100%;
    }
    .figure-caption {
      text-align: center;
    }
    // customized bootstrap modal
    .modal .modal-dialog {
      width: 100%;
      max-width: 960px;
      padding: 1rem;
      .modal-content {
         background: transparent;
         min-height: 100%;
         height: auto;
         border-radius: 0;
         border: none;
         width: 100%;
         img {
           width:100%;
         }
      }
    }
    .carouselModal .carousel {
      .carousel-control-prev,
      .carousel-control-next {
        position: fixed;
        top: 50vh;
        bottom: unset;
        width: 8%;
        height: 10vh;
        background-color: $highlightColor;
      }
      // .carousel-control-prev-icon {
      //   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba()' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
      // }
      // .carousel-control-next-icon {
      //   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232d0ee6' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      // }
      .carousel-caption {
        background-color: #40404080;
        width: 100%;
        position: fixed;
        right: auto;
        left: auto;
        bottom: auto;
        top: 0;
        &:hover {
          background-color: #4040401a;
        }
      }
    }
  }
}
.footer {
  .fa, .fab, .fal, .far, .fas {
    font-size: 1.6rem;
  }
  .container {
    padding-bottom: 0;
    
    .float-right a {
      margin: 5px;
      color: $mainColor1;
      font-size: 14px;

      &:hover {
        color: $highlightColor;
        border-bottom: 5px solid $complementColor;
        text-decoration: none;
        padding-bottom: 7.5px;
      }
    }
  }
}


// page-specific css
#teamup {
  .coverphoto {
    background-image: url(../assets/imgs/TeamUp/coverphoto.png);
  }
}
#styleup {
  .container {
    padding-top: 11rem;
  }
  .row img {
    text-align: center;
    width: 100%;
  }
}

#ronglc {
  .container {
    padding-top: 11rem;
  }
  // $color1: rgba(83, 180, 249, 1);
  // $color2: rgba(59, 131, 204, 1);
  // $color3: rgba(245, 139, 1, 1);
  // $color4: rgba(247, 177, 31, 1);
  // $color5: rgba(255, 255, 255, 1);
}

#spacemealbox {
  .container {
    padding-top: 11rem;
  }
  p a {
    color: $highlightColor;
    font-family: $fontStack2;
  }
  ul li,
  ol li {
    font-family: $fontStack2;
  }
}
