@import "base.scss";
.workContent {
  .container {
    padding-top: 13rem;
    h2 {
        font-size: 1.5rem;
    }
    h3 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    // single image in a line
    img {
      width: 50%;
    }
    // those that will activate a modal
    img.fullscreenImg:hover {
      cursor: zoom-in;
      opacity: .8;
    }
    // images that already side by side
    // with other images need 100% respect/space
    .row .figure, .row img {
      width: 100%;
    }
    .imgRow {
      text-align: center;
    }
    // those that worth a complete line
    .fullwidth-photo {
      width: 100%;
    }
    .figure-caption {
      text-align: center;
    }
    // customized bootstrap modal
    .modal .modal-dialog {
      width: 100%;
      max-width: 960px;
      padding: 1rem;
      .modal-content {
         background: transparent;
         min-height: 100%;
         height: auto;
         border-radius: 0;
         border: none;
         width: 100%;
         img {
           width:100%;
         }
      }
    }
    .carouselModal .carousel {
      .carousel-control-prev,
      .carousel-control-next {
        position: fixed;
        top: 50vh;
        bottom: unset;
        width: 8%;
        height: 10vh;
        background-color: $highlightColor;
      }
      // .carousel-control-prev-icon {
      //   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba()' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
      // }
      // .carousel-control-next-icon {
      //   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232d0ee6' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      // }
      .carousel-caption {
        background-color: #40404080;
        width: 100%;
        position: fixed;
        right: auto;
        left: auto;
        bottom: auto;
        top: 0;
        &:hover {
          background-color: #4040401a;
        }
      }
    }
    .footer {
      .fa, .fab, .fal, .far, .fas {
        font-size: 1.6rem;
      }
      .container {
        padding-bottom: 0;
      }
    }

  }
}


#styleup {
  .row img {
    text-align: center;
    width: 100%;
  }
}

#ronglc {
  $color1: rgba(83, 180, 249, 1);
  $color2: rgba(59, 131, 204, 1);
  $color3: rgba(245, 139, 1, 1);
  $color4: rgba(247, 177, 31, 1);
  $color5: rgba(255, 255, 255, 1);
}

#spacemealbox {
  p a {
    color: $highlightColor;
  }
}
